In [2]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('food_coded.csv')
df2 = pd.read_csv('Food_Preference.csv')

columns_to_drop = ['GPA', 'calories_chicken', 'calories_day', 'calories_scone', 'comfort_food_reasons', 'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1', 'diet_current', 'diet_current_coded', 'eating_changes', 'eating_changes_coded', 'eating_changes_coded1', 'eating_out', 'employment', 'exercise', 'father_education', 'father_profession', 'fav_cuisine_coded', 'fries', 'healthy_feeling', 'ideal_diet', 'ideal_diet_coded', 'income', 'life_rewarding', 'meals_dinner_friend', 'mother_education', 'mother_profession', 'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out', 'self_perception_weight', 'sports', 'tortilla_calories', 'turkey_calories', 'type_sports', 'vitamins', 'waffle_calories']

df1 = df1.drop(columns=columns_to_drop)

columns_to_drop = ['Timestamp']

df2 = df2.drop(columns=columns_to_drop)

In [3]:
df1.head()

,Gender,breakfast,coffee,comfort_food,cuisine,drink,ethnic_food,fav_cuisine,fav_food,food_childhood,...,greek_food,healthy_meal,indian_food,italian_food,marital_status,persian_food,soup,thai_food,veggies_day,weight
0,Male,1,1,none,NaN,1.0,1,Arabic cuisine,1.0,rice and chicken,...,5,looks not oily,5,5,1.0,5.0,1.0,1,5,187
1,Female,1,2,"chocolate, chips, ice cream",1.0,2.0,4,Italian,1.0,"chicken and biscuits, beef soup, baked beans",...,4,"Grains, Veggies, (more of grains and veggies),...",4,4,2.0,4.0,1.0,2,4,155
2,Female,1,2,"frozen yogurt, pizza, fast food",3.0,1.0,5,italian,3.0,"mac and cheese, pizza, tacos",...,5,usually includes natural ingredients; nonproce...,5,5,2.0,5.0,1.0,5,5,I'm not answering this.
3,Female,1,2,"Pizza, Mac and cheese, ice cream",2.0,2.0,5,Turkish,1.0,"Beef stroganoff, tacos, pizza",...,5,"Fresh fruits& vegetables, organic meats",5,5,2.0,5.0,1.0,5,3,"Not sure, 240"
4,Female,1,2,"Ice cream, chocolate, chips",2.0,2.0,4,Italian,3.0,"Pasta, chicken tender, pizza",...,4,"A lean protein such as grilled chicken, green ...",2,5,1.0,2.0,1.0,4,4,190

In [4]:
df2.head()

,Participant_ID,Gender,Nationality,Age,Food,Juice,Dessert
0,FPS001,Male,Indian,24,Traditional food,Fresh Juice,Maybe
1,FPS002,Female,Indian,22,Western Food,Carbonated drinks,Yes
2,FPS003,Male,Indian,31,Western Food,Fresh Juice,Maybe
3,FPS004,Female,Indian,25,Traditional food,Fresh Juice,Maybe
4,FPS005,Male,Indian,27,Traditional food,Fresh Juice,Maybe

In [5]:
def generate_age(grade):
    if grade == 1:
        return np.random.choice([14, 15], size=1)[0]
    elif grade == 2:
        return np.random.choice([15, 16], size=1)[0]
    elif grade == 3:
        return np.random.choice([16, 17], size=1)[0]
    elif grade == 4:
        return np.random.choice([17, 18], size=1)[0]
    else:
        return np.nan 

df1['Age'] = df1['grade_level'].apply(generate_age)

df1.head()

,Gender,breakfast,coffee,comfort_food,cuisine,drink,ethnic_food,fav_cuisine,fav_food,food_childhood,...,healthy_meal,indian_food,italian_food,marital_status,persian_food,soup,thai_food,veggies_day,weight,Age
0,Male,1,1,none,NaN,1.0,1,Arabic cuisine,1.0,rice and chicken,...,looks not oily,5,5,1.0,5.0,1.0,1,5,187,15
1,Female,1,2,"chocolate, chips, ice cream",1.0,2.0,4,Italian,1.0,"chicken and biscuits, beef soup, baked beans",...,"Grains, Veggies, (more of grains and veggies),...",4,4,2.0,4.0,1.0,2,4,155,17
2,Female,1,2,"frozen yogurt, pizza, fast food",3.0,1.0,5,italian,3.0,"mac and cheese, pizza, tacos",...,usually includes natural ingredients; nonproce...,5,5,2.0,5.0,1.0,5,5,I'm not answering this.,16
3,Female,1,2,"Pizza, Mac and cheese, ice cream",2.0,2.0,5,Turkish,1.0,"Beef stroganoff, tacos, pizza",...,"Fresh fruits& vegetables, organic meats",5,5,2.0,5.0,1.0,5,3,"Not sure, 240",17
4,Female,1,2,"Ice cream, chocolate, chips",2.0,2.0,4,Italian,3.0,"Pasta, chicken tender, pizza",...,"A lean protein such as grilled chicken, green ...",2,5,1.0,2.0,1.0,4,4,190,17

In [6]:
columns_to_drop = ['grade_level']

df1 = df1.drop(columns=columns_to_drop)

In [7]:
df1.head()

,Gender,breakfast,coffee,comfort_food,cuisine,drink,ethnic_food,fav_cuisine,fav_food,food_childhood,...,healthy_meal,indian_food,italian_food,marital_status,persian_food,soup,thai_food,veggies_day,weight,Age
0,Male,1,1,none,NaN,1.0,1,Arabic cuisine,1.0,rice and chicken,...,looks not oily,5,5,1.0,5.0,1.0,1,5,187,15
1,Female,1,2,"chocolate, chips, ice cream",1.0,2.0,4,Italian,1.0,"chicken and biscuits, beef soup, baked beans",...,"Grains, Veggies, (more of grains and veggies),...",4,4,2.0,4.0,1.0,2,4,155,17
2,Female,1,2,"frozen yogurt, pizza, fast food",3.0,1.0,5,italian,3.0,"mac and cheese, pizza, tacos",...,usually includes natural ingredients; nonproce...,5,5,2.0,5.0,1.0,5,5,I'm not answering this.,16
3,Female,1,2,"Pizza, Mac and cheese, ice cream",2.0,2.0,5,Turkish,1.0,"Beef stroganoff, tacos, pizza",...,"Fresh fruits& vegetables, organic meats",5,5,2.0,5.0,1.0,5,3,"Not sure, 240",17
4,Female,1,2,"Ice cream, chocolate, chips",2.0,2.0,4,Italian,3.0,"Pasta, chicken tender, pizza",...,"A lean protein such as grilled chicken, green ...",2,5,1.0,2.0,1.0,4,4,190,17

In [8]:
df1.isnull().sum()

Gender             0
breakfast          0
coffee             0
comfort_food       1
cuisine           17
drink              2
ethnic_food        0
fav_cuisine        2
fav_food           2
food_childhood     1
fruit_day          0
greek_food         0
healthy_meal       1
indian_food        0
italian_food       0
marital_status     1
persian_food       1
soup               1
thai_food          0
veggies_day        0
weight             2
Age                0
dtype: int64

In [9]:
df1['comfort_food'].fillna('None', inplace=True)
df1['cuisine'].fillna(6, inplace=True)
df1['drink'] = df1['drink'].apply(lambda x: np.random.choice([1, 2]) if pd.isnull(x) else x)

In [10]:
def fill_missing_fav_cuisine(row):
    if pd.isnull(row['fav_cuisine']):
        if row['cuisine'] == 'American':
            return 'American'
        elif row['cuisine'] == 'Mexican.Spanish':
            return np.random.choice(['Spanish', 'Mexican'], size=1)[0]
        elif row['cuisine'] == 'Korean/Asian':
            return np.random.choice(['Asian', 'Chinese', 'Thai', 'Nepal'], size=1)[0]
        elif row['cuisine'] == 'Indian':
            return 'Indian'
        elif row['cuisine'] == 'other':
            return np.random.choice(['Italian', 'French', 'Greek', 'Arabic', 'Turkish', 'African', 'Jamaican'], size=1)[0]
    else:
        return row['fav_cuisine']

df1.loc[pd.isna(df1['fav_cuisine']), 'fav_cuisine'] = df1.apply(fill_missing_fav_cuisine, axis=1)
df1['food_childhood'].fillna('None', inplace=True)

In [11]:
df1['fav_cuisine'].fillna('None', inplace=True)
df1['healthy_meal'].fillna('None', inplace=True)
df1['marital_status'].fillna('None', inplace=True)
df1['persian_food'].fillna('None', inplace=True)
df1['soup'].fillna('None', inplace=True)
df1.dropna(subset=['weight'], inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_4256\1926497547.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1['marital_status'].fillna('None', inplace=True)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_4256\1926497547.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1['persian_food'].fillna('None', inplace=True)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_4256\1926497547.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1['soup'].fillna('None', inplace=True)

In [12]:
df1.isnull().sum()

Gender            0
breakfast         0
coffee            0
comfort_food      0
cuisine           0
drink             0
ethnic_food       0
fav_cuisine       0
fav_food          1
food_childhood    0
fruit_day         0
greek_food        0
healthy_meal      0
indian_food       0
italian_food      0
marital_status    0
persian_food      0
soup              0
thai_food         0
veggies_day       0
weight            0
Age               0
dtype: int64

In [13]:
df2.isnull().sum()

Participant_ID    0
Gender            4
Nationality       0
Age               0
Food              0
Juice             0
Dessert           0
dtype: int64

In [14]:
df2.dropna(subset=['Gender'], inplace=True)

In [15]:
df2.isnull().sum()

Participant_ID    0
Gender            0
Nationality       0
Age               0
Food              0
Juice             0
Dessert           0
dtype: int64

In [16]:
merged_df = pd.merge(df1, df2, on=['Gender', 'Age'], how='left')

In [17]:
merged_df.head()

,Gender,breakfast,coffee,comfort_food,cuisine,drink,ethnic_food,fav_cuisine,fav_food,food_childhood,...,soup,thai_food,veggies_day,weight,Age,Participant_ID,Nationality,Food,Juice,Dessert
0,Male,1,1,none,6.0,1.0,1,Arabic cuisine,1.0,rice and chicken,...,1.0,1,5,187,15,FPS155,Indian,Western Food,Carbonated drinks,Yes
1,Female,1,2,"chocolate, chips, ice cream",1.0,2.0,4,Italian,1.0,"chicken and biscuits, beef soup, baked beans",...,1.0,2,4,155,17,FPS255,Indian,Traditional food,Fresh Juice,No
2,Female,1,2,"frozen yogurt, pizza, fast food",3.0,1.0,5,italian,3.0,"mac and cheese, pizza, tacos",...,1.0,5,5,I'm not answering this.,16,FPS010,Indian,Western Food,Fresh Juice,Yes
3,Female,1,2,"frozen yogurt, pizza, fast food",3.0,1.0,5,italian,3.0,"mac and cheese, pizza, tacos",...,1.0,5,5,I'm not answering this.,16,FPS110,Indian,Western Food,Fresh Juice,Yes
4,Female,1,2,"Pizza, Mac and cheese, ice cream",2.0,2.0,5,Turkish,1.0,"Beef stroganoff, tacos, pizza",...,1.0,5,3,"Not sure, 240",17,FPS255,Indian,Traditional food,Fresh Juice,No

In [18]:
merged_df.isnull().sum()

Gender             0
breakfast          0
coffee             0
comfort_food       0
cuisine            0
drink              0
ethnic_food        0
fav_cuisine        0
fav_food           1
food_childhood     0
fruit_day          0
greek_food         0
healthy_meal       0
indian_food        0
italian_food       0
marital_status     0
persian_food       0
soup               0
thai_food          0
veggies_day        0
weight             0
Age                0
Participant_ID    61
Nationality       61
Food              61
Juice             61
Dessert           61
dtype: int64

In [20]:
merged_df.to_csv('merged_dataset.csv', index=False)

In [31]:
df = pd.read_csv('merged_dataset.csv')
df.drop('fav_food', axis=1, inplace=True)
df.isnull().sum()

Participant_ID     0
Gender             0
breakfast          0
coffee             0
comfort_food       0
cuisine            0
drink              0
ethnic_food        0
fav_cuisine        0
food_childhood     0
fruit_day          0
greek_food         0
healthy_meal       0
indian_food        0
italian_food       0
marital_status     0
persian_food       0
soup               0
thai_food          0
veggies_day        0
weight             0
Age                0
Nationality        0
Food              61
Juice             61
Dessert           61
dtype: int64

In [35]:
df['breakfast'] = df['breakfast'].replace({1: 'cereal', 2: 'donut'})
df['coffee'] = df['coffee'].replace({1: 'creamy frapuccino', 2: 'espresso shown'})
df['cuisine'] = df['cuisine'].replace({1: 'American', 2: 'Mexican.Spanish', 3: 'Korean/Asian', 4: 'Indian', 5: 'American inspired international dishes', 6: 'other'})
df['drink'] = df['drink'].replace({1: 'orange juice', 2: 'soda'})
df['soup'] = df['drink'].replace({1: 'veggie soup', 2: 'creamy soup'})
df['marital_status'] = df['marital_status'].replace({1: 'Single', 2: 'In a relationship'})
df.head()

,Participant_ID,Gender,breakfast,coffee,comfort_food,cuisine,drink,ethnic_food,fav_cuisine,food_childhood,...,persian_food,soup,thai_food,veggies_day,weight,Age,Nationality,Food,Juice,Dessert
0,FPS001,Female,cereal,espresso shown,"frozen yogurt, pizza, fast food",Korean/Asian,orange juice,5,italian,"mac and cheese, pizza, tacos",...,5,orange juice,5,5,I'm not answering this.,16,Indian,Western Food,Fresh Juice,Yes
1,FPS002,Female,cereal,espresso shown,"Candy, brownies and soda.",other,soda,4,African,"Fries, plaintain & fried fish",...,5,soda,4,1,190,16,Indian,Western Food,Fresh Juice,Yes
2,FPS003,Female,cereal,creamy frapuccino,"Ice cream, cheeseburgers, chips.",American,soda,2,Anything american style.,"chicken, cheesey potatoes, and hot dogs",...,1,soda,1,4,137,16,Indian,Western Food,Fresh Juice,Yes
3,FPS004,Female,cereal,espresso shown,"Pasta, grandma homemade chocolate cake anythin...",American,soda,5,Orange chicken and chow mani noodles,Chicken,...,2,soda,2,5,116,16,Indian,Western Food,Fresh Juice,Yes
4,FPS005,Female,cereal,espresso shown,"ice cream, cake, chocolate",American,soda,5,italian,"steak, lasagna, crab",...,3,soda,5,5,123,16,Indian,Western Food,Fresh Juice,Yes

In [38]:
df['Food'] = df['breakfast'] + ', ' + df['comfort_food'] + ', ' + df['food_childhood'] + ', ' + df['healthy_meal'] + ', ' + df['soup']
df['Drink'] = df['coffee'] + ', ' + df['drink']
df.head()

,Participant_ID,Gender,breakfast,coffee,comfort_food,cuisine,drink,ethnic_food,fav_cuisine,food_childhood,...,soup,thai_food,veggies_day,weight,Age,Nationality,Food,Juice,Dessert,Drink
0,FPS001,Female,cereal,espresso shown,"frozen yogurt, pizza, fast food",Korean/Asian,orange juice,5,italian,"mac and cheese, pizza, tacos",...,orange juice,5,5,I'm not answering this.,16,Indian,"cereal, frozen yogurt, pizza, fast food, mac a...",Fresh Juice,Yes,"espresso shown, orange juice"
1,FPS002,Female,cereal,espresso shown,"Candy, brownies and soda.",other,soda,4,African,"Fries, plaintain & fried fish",...,soda,4,1,190,16,Indian,"cereal, Candy, brownies and soda., Fries, plai...",Fresh Juice,Yes,"espresso shown, soda"
2,FPS003,Female,cereal,creamy frapuccino,"Ice cream, cheeseburgers, chips.",American,soda,2,Anything american style.,"chicken, cheesey potatoes, and hot dogs",...,soda,1,4,137,16,Indian,"cereal, Ice cream, cheeseburgers, chips., chic...",Fresh Juice,Yes,"creamy frapuccino, soda"
3,FPS004,Female,cereal,espresso shown,"Pasta, grandma homemade chocolate cake anythin...",American,soda,5,Orange chicken and chow mani noodles,Chicken,...,soda,2,5,116,16,Indian,"cereal, Pasta, grandma homemade chocolate cake...",Fresh Juice,Yes,"espresso shown, soda"
4,FPS005,Female,cereal,espresso shown,"ice cream, cake, chocolate",American,soda,5,italian,"steak, lasagna, crab",...,soda,5,5,123,16,Indian,"cereal, ice cream, cake, chocolate, steak, las...",Fresh Juice,Yes,"espresso shown, soda"

In [41]:
# df.drop(['breakfast', 'comfort_food', 'food_childhood', 'healthy_meal', 'soup', 'coffee', 'drink'], axis=1, inplace=True)
df.head()

,Participant_ID,Gender,cuisine,ethnic_food,fav_cuisine,fruit_day,greek_food,indian_food,italian_food,marital_status,persian_food,thai_food,veggies_day,weight,Age,Nationality,Food,Juice,Dessert,Drink
0,FPS001,Female,Korean/Asian,5,italian,5,5,5,5,In a relationship,5,5,5,I'm not answering this.,16,Indian,"cereal, frozen yogurt, pizza, fast food, mac a...",Fresh Juice,Yes,"espresso shown, orange juice"
1,FPS002,Female,other,4,African,2,2,5,5,In a relationship,5,4,1,190,16,Indian,"cereal, Candy, brownies and soda., Fries, plai...",Fresh Juice,Yes,"espresso shown, soda"
2,FPS003,Female,American,2,Anything american style.,5,3,1,3,Single,1,1,4,137,16,Indian,"cereal, Ice cream, cheeseburgers, chips., chic...",Fresh Juice,Yes,"creamy frapuccino, soda"
3,FPS004,Female,American,5,Orange chicken and chow mani noodles,5,1,1,5,Single,2,2,5,116,16,Indian,"cereal, Pasta, grandma homemade chocolate cake...",Fresh Juice,Yes,"espresso shown, soda"
4,FPS005,Female,American,5,italian,5,4,3,5,In a relationship,3,5,5,123,16,Indian,"cereal, ice cream, cake, chocolate, steak, las...",Fresh Juice,Yes,"espresso shown, soda"

In [45]:
df['Drink'] = df['Drink'] + ', ' + df['Juice']
df.drop('Juice', axis=1, inplace=True)

In [46]:
df.isnull().sum()

Participant_ID     0
Gender             0
cuisine            0
ethnic_food        0
fav_cuisine        0
fruit_day          0
greek_food         0
indian_food        0
italian_food       0
marital_status     0
persian_food       0
thai_food          0
veggies_day        0
weight             0
Age                0
Nationality        0
Food               0
Dessert           61
Drink             61
dtype: int64

In [47]:
def determine_dessert(row):
    if pd.isnull(row['Dessert']) and 'donut' in row['Food']:
        return np.random.choice(['Yes', 'Maybe'], size=1)[0]
    elif pd.isnull(row['Dessert']):
        return 'No'
    else:
        return row['Dessert']

df['Dessert'] = df.apply(determine_dessert, axis=1)


df.isnull().sum()

Participant_ID     0
Gender             0
cuisine            0
ethnic_food        0
fav_cuisine        0
fruit_day          0
greek_food         0
indian_food        0
italian_food       0
marital_status     0
persian_food       0
thai_food          0
veggies_day        0
weight             0
Age                0
Nationality        0
Food               0
Dessert            0
Drink             61
dtype: int64

In [49]:
drink_choices = ['creamy frapuccino', 'espresso shown', 'orange juice', 'soda', 'Fresh Juice', 'Carbonated drinks']

def fill_missing_drink(row):
    if pd.isnull(row['Drink']):
        return np.random.choice(drink_choices, size=1)[0]
    else:
        return row['Drink']

df['Drink'] = df.apply(fill_missing_drink, axis=1)
df.isnull().sum()

Participant_ID    0
Gender            0
cuisine           0
ethnic_food       0
fav_cuisine       0
fruit_day         0
greek_food        0
indian_food       0
italian_food      0
marital_status    0
persian_food      0
thai_food         0
veggies_day       0
weight            0
Age               0
Nationality       0
Food              0
Dessert           0
Drink             0
dtype: int64

In [50]:
merged_df.to_csv('final_dataset.csv', index=False)

In [51]:
df.head()

,Participant_ID,Gender,cuisine,ethnic_food,fav_cuisine,fruit_day,greek_food,indian_food,italian_food,marital_status,persian_food,thai_food,veggies_day,weight,Age,Nationality,Food,Dessert,Drink
0,FPS001,Female,Korean/Asian,5,italian,5,5,5,5,In a relationship,5,5,5,I'm not answering this.,16,Indian,"cereal, frozen yogurt, pizza, fast food, mac a...",Yes,"espresso shown, orange juice, Fresh Juice, Fre..."
1,FPS002,Female,other,4,African,2,2,5,5,In a relationship,5,4,1,190,16,Indian,"cereal, Candy, brownies and soda., Fries, plai...",Yes,"espresso shown, soda, Fresh Juice, Fresh Juice"
2,FPS003,Female,American,2,Anything american style.,5,3,1,3,Single,1,1,4,137,16,Indian,"cereal, Ice cream, cheeseburgers, chips., chic...",Yes,"creamy frapuccino, soda, Fresh Juice, Fresh Juice"
3,FPS004,Female,American,5,Orange chicken and chow mani noodles,5,1,1,5,Single,2,2,5,116,16,Indian,"cereal, Pasta, grandma homemade chocolate cake...",Yes,"espresso shown, soda, Fresh Juice, Fresh Juice"
4,FPS005,Female,American,5,italian,5,4,3,5,In a relationship,3,5,5,123,16,Indian,"cereal, ice cream, cake, chocolate, steak, las...",Yes,"espresso shown, soda, Fresh Juice, Fresh Juice"

In [53]:
df.to_csv('final_dataset.csv', index=False)